.ProjectCard {
  background: white;
  margin: 20px 0;
  padding: 50px;

  .card-header {
    display: flex;
    justify-content: space-between;

    .fa-trash-alt {
      font-size: 1.2em;
    }
  }

  h3 {
    font-size: 1.1em;
    text-align: left;
    text-transform: uppercase;
  }

  hr {
    border: solid $lightGray 1px;
    margin: 10px 0 0;
  }

  .empty-project-header {
    font-style: italic;
    margin: 30px;
    text-align: center;
  }

  .previews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .fa-trash-alt,
  .fa-times {
    color: rgba(black, .5);
    font-size: 1.25em;
    position: relative;
    right: 7px;
    bottom: 7px;

    &:hover {
      color: black;
    }
  }
}

.empty-projects-card {
  h3 {
    font-size: 1.3em;
  }
}
