.ProjectCard {
  background: white;
  padding: 50px;

  h3 {
    text-transform: uppercase;
  }

  hr {
    border: solid $lightGray 1px;
    margin: 10px 0 0;
  }

  .empty-project-header {
    font-style: italic;
    margin: 30px;
    text-align: center;
  }

  .previews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .fa-times {
    color: rgba(black, .5);
    font-size: 1.25em;
    position: relative;
    right: 7px;
    bottom: 7px;

    &:hover {
      color: black;
    }
  }
}
