.Login,
.SavePalette {
  background: $lightGray;
  height: 100vh;
  padding: 20px 0;
  position: relative;
  width: 100%;
  z-index: 500;
}

.login-form,
.save-form {
  background: white;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px;
  width: 500px;
}

h3 {
  font-size: 2em;
  text-align: center;
}

input,
button {
  font-size: 1.5em;
  margin: 0 0 15px 0;
  padding: 15px;
}

button {
  background: $gray;
  border: none;
  color: white;
  font-weight: 800;

  &:hover {
    background: $lightGray;
  }
}

.login-btn {
  margin: 20px 0 0 0;
}

.signup-msg {
  margin: 5px 0 15px;
}

.signup-link {
  font-size: 1em;
  font-style: italic;
  margin: 0;
}